{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'network/css/toggle.css' %}" rel="stylesheet">
        <script src="{% static 'network/js/control.js' %}"></script>
        <!--New post handle bars template-->
        <script id='new-post-temp' type="text/x-handlebars-template">
            {% verbatim %}
                <a href="{% url 'profile' user_id %}"><b>{{username}}</b></a>
                <div class='content'>
                    {{content}}
                </div>
                <a class="edit" href="javascript:void(0)">Edit</a> <!--work on this later, and also make sure that it is available for current user's posts only-->
                <article class='text-muted'>{{date}}</article>
                {{#if liked}} 
                    <label class="switch">
                        <input class="liking" checked type="checkbox">
                        <div class="slider"></div>
                    </label>
                {{else}}
                    <label class="switch">
                        <input class="liking" type="checkbox">
                        <div class="slider"></div>
                    </label>
                {{/if}}
                <div>Likes: <b class='likes-number'>0</b></div>
            {% endverbatim %}
        </script>
        <!--edit post template-->
        <script id="edit-post-temp" type="text/x-handlebars-template">
            {% verbatim %}
                <form id='edit-post' class='form-group'>
                    <b>{{username}}</b>
                    <textarea id='text-edit' class='form-control' rows='1'></textarea>
                    <button class='btn btn-outline-primary'>Save</button>
                    <article class='text-muted'>{{ time }}</article>
                    {{#if liked}} 
                        <label class="switch">
                            <input class="liking" checked type="checkbox">
                            <div class="slider"></div>
                        </label>
                    {{else}}
                        <label class="switch">
                            <input class="liking" type="checkbox">
                            <div class="slider"></div>
                        </label>
                    {{/if}}
                    <div>Likes: <b class='likes-number'>{{ likes }}</b></div>
                </form>
            {% endverbatim %}
        </script>
        <!--After edit post template-->
        <script id='edited-post' type='text/x-handlebars-template'>
            {% verbatim %}
                <a href="{% url 'profile' user_id %}"><b>{{username}}</b></a>
                <div class='content'>
                    {{content}}
                </div>
                <a class="edit" href="javascript:void(0)">Edit</a> <!--work on this later, and also make sure that it is available for current user's posts only-->
                <article class='text-muted'>{{time}}</article>
                {{#if liked}} 
                    <label class="switch">
                        <input class="liking" checked type="checkbox">
                        <div class="slider"></div>
                    </label>
                {{else}}
                    <label class="switch">
                        <input class="liking" type="checkbox">
                        <div class="slider"></div>
                    </label>
                {{/if}}
                <div>Likes: <b class='likes-number'>{{likes}}</b></div>
            {% endverbatim %}
        </script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="javascript:void(0)">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <div class='pagination'>
            <span class='step-links'>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class='current'>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </body>
</html>