.head .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    text-align: center;

}

.head .switch input {
    display:none;
}

.head .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding-top: 6px;
    
}

.head .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
   
}

.head input:checked + .slider {
    background-color: dodgerblue;
}

.head input:focus + .slider {
    box-shadow: 0 0 1px dodgerblue;
}

.head input:checked + .slider:before {
    transform: translateX(80px);
}

.post .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/*for likes*/
.post .switch input {
    display:none;
}

.post .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.post .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.post input:checked + .slider {
    background-color: red;
}

.post input:focus + .slider {
    box-shadow: 0 0 1px red;
}

.post input:checked + .slider:before {
    transform: translateX(26px);
}